/*
  Author: Andrew Oplas
  Description: This CSS file contains all the styles made to make the site responsive.
*/

/* Purpose: Collapse the Menu on 1200px width */
@media (max-width: 1200px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-toggle .menu {
    margin-right: 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    text-align: center;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
  }
  .collapse.in {
    display: block !important;
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-toggle .icon-bar {
    background: white;
  }

  .navbar-brand {
    z-index: 999;
  }

  .navbar-brand img {
    width: 120px;
  }

  #navbar {
    border: 0;
    box-shadow: none;
    margin-top: 60px;
  }

  .carousel {
    margin-top: 55px;
  }

  .innerPage {
    padding-top: 0;
  }
}

/* Purpose: Update width of carousel images */
@media (max-width: 1099px) {
  .carousel .item {
    height: 400px;
  }

  .carousel-inner > .item > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .carousel-indicators {
    bottom: 10px;
  }
}

/* Purpose: Update width of carousel images */
@media (max-width: 768px) {
  .carousel .item {
    height: 300px;
  }
}

/* Purpose: Update width of carousel images */
@media (max-width: 600px) {
  .carousel .item {
    height: 200px;
  }

  .navbar-brand img {
    width: 85px;
  }

  #navbar {
    border: 0;
    box-shadow: none;
    margin-top: 30px;
  }
}

/* Purpose: Add margin on three-column blocks */
@media (max-width: 768px) {
  .margin-bottom {
    margin-bottom: 15px;
  }
}
